		<footer>
			<!-- 公用底部模块 -->
			<p class="text-center">2016-09-11 聊天室</p>
		</footer>
  	</body>
  	<script type="text/javascript" src='/js/common.js'></script>
  	<script type="text/javascript" src='/js/index.js'></script>
</html>
